# Ignore all files and directories
*

# Include the .gitignore file itself
!.gitignore

# Include specific files you want to track
!package.json
!.env.dev
!.env.tst
!.env.prd

# Exclude a specific folder
!public/
